body {
	justify-content: center;
	align-content: center;
}

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: grey;
	background-image: url();
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #186A3B;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

/*----form ----*/

.contactForm {
    width: calc(100% - 20px);
    max-width: 700px;
    margin: 0 auto;
}

/* STYLES FOR FORM */
form {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    padding-top: 20px;
}

.inputGroup {
    width: 100%;
    position: relative;

}

  .inputGroup1 {
      grid-column: 1;
      grid-row: 1;
  }
  .inputGroup2 {
      grid-column: 2;
      grid-row: 1;
  }
  .inputGroup3 {
      grid-column: 1;
      grid-row: 2;
  }
  .inputGroup4 {
      grid-column: 2;
      grid-row: 2;
  }
  .inputGroup5 {
      grid-column: 1 / span 2;
      grid-row: 3;
  }
  .inputGroup6 {
      grid-column: 1 / span 2;
      grid-row: 4;
  }
  .inputGroup7 {
      grid-column: 2;
      grid-row: 5;
      text-align: right;
  }


.inputGroup__textfield {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 13px;
    padding: 20px;
    border: 1px solid #d6dee1;
    outline: 0;
    border-radius: 1;
    transition: border 0.3s ease-in-out;

}
  .inputGroup__textfield:focus, .inputGroup__textfield:active {
      border: 1px solid #D9D9D9;
  }


button {
    padding: 20px;
    width: 100%;
    border: 0;
    background: #59995b;
    cursor: pointer;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

  button:hover {
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);
  }


/* STYLES FOR VALIDATION WARNING */
.hf-warning {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(-15%, -50%) !important;
    background: orangered !important;
    display: inline-block !important;
    padding: 7px 14px !important;
    color: #FFFFFF !important;
    font-size: 11px !important;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
    border-radius: 2px !important;
}

  .hf-warning:after {
      content: "";
      width: 10px;
      height: 10px;
      background: orangered;
      position: absolute;
      z-index: 1;
      bottom: -5px;
      right: 15px;
      transform: rotate(45deg);
  }


@media screen and (max-width: 480px) {
    form {
      display: flex !important;
      flex-wrap: wrap;
    }

    form > div {
      margin-bottom: 30px;
    }
}